{% extends 'users/base.html' %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="card mt-5" style="width: 18rem;">
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                            type="button" role="tab" aria-controls="pills-home" aria-selected="true">Login
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">SignUp
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <form method="POST" action="{% url 'user:auth' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <input type="text" class="form-control" name="username" placeholder="username" required>
                            </div>
                            <div class="col-12 my-2">
                                <input type="password" class="form-control"  name="password" placeholder="password" required>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-success w-100">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="username" required>
                            </div>
                            <div class="col-12 my-2">
                                <input type="password" class="form-control" placeholder="password" required>
                            </div>
                            <div class="col-12">
                                <input type="password" class="form-control" placeholder="re enter password" required>
                            </div>
                            <div class="col-12 mt-2">
                                <button type="submit" class="btn btn-success w-100">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    
        </div>
    </div>
</div>

{% endblock content %}