{% extends 'users/base.html' %}

{% block content %}
<div class="container mt-5">
   <h1>Welcome {{request.user.username}}.</h1>

   <a target="_blank" href="{% url 'user:sign_document' %}">{% if not user_details.document %}Please fill your document{% else %}view / edit your document{% endif %} >></a>

</div>

{% endblock content %}
