{% extends 'users/base.html' %}
{% load static %}
{% block head %}
<style>
  .ActionButton{
    background: #8ecdd7 !important;
    width: 8vw !important;
    filter: drop-shadow(0px 0px 0px black) !important;
  }
</style>
<script src="{% static 'WebViewer/lib/webviewer.min.js' %}"></script>

{% endblock head %}

{% block content %}
<form
    style="display: none;"
    enctype="multipart/form-data"
    id="upload_form" method="POST"
    novalidate="">
    <input type="text" name="fname" value="vivek" />
    <input type="file" name="file" />
</form>
<div id='viewer' style='width: 100%; height: 100vh; margin: 0 auto;'></div>
{% endblock content %}



{% block scripts %}
  <script>
    //submitFORM
    $("#upload_form").submit(function(event){
      event.preventDefault();

      var formData = new FormData($(this)[0]);
      $.ajax({
        enctype : "multipart/form-data",
        url: "{% url 'user:submit_pdf_form' %}",
        data: formData,
        type: "POST",
        dataType: 'json',
        processData: false,
        contentType: false,
        success: function( response )
        {
          if (response.status === 201){
            alert("Success!");
          }
          else{
            alert("Something went wrong!");
            console.error("AJAX SUCCESS - ELSE ", response);
          }
        },
        error: function (response) {console.error(response); }
      })
    });



    WebViewer({
      path: "{% static 'WebViewer/lib' %}",
      licenseKey: 'demo:1705836628496:7f6353e903000000005ca250c1d3d044cf389095014ad981b7a2ad5835',
      initialDoc: '{% get_media_prefix %}{{initialDoc}}',
      disabledElements: [
                'selectToolButton',
                'signatureToolGroupButton',
                'leftPanelButton',
                'ribbons',
                'toggleNotesButton',
                'searchButton',
                'menuButton',
                'rubberStampToolGroupButton',
                'stampToolGroupButton',
                'fileAttachmentToolGroupButton',
                'calloutToolGroupButton',
                'undo',
                'redo',
                'eraserToolButton'
            ],
    }, document.getElementById('viewer'))
    .then(instance => {
        const { documentViewer, annotationManager } = instance.Core;

        documentViewer.addEventListener('documentLoaded', () => {
            console.log("document loaded")
        });

        instance.UI.setHeaderItems(header => {
        header.push({
            type : 'actionButton',
            img : 'https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/save-512.png',
            onClick: async () => {


                console.log("inside actionButton")
                const doc = documentViewer.getDocument();
                const xfdfString = await annotationManager.exportAnnotations();
                const data = await doc.getFileData({xfdfString});
                const arr = new Uint8Array(data);
                const blob = new Blob([arr], { type: 'application/pdf' });
                // Add code for handling Blob here

                const blobURL = URL.createObjectURL(blob);
                console.log(blobURL)

                let file = new File([blob], "document.pdf", {type: 'application/pdf'});
                console.log(file)

                const fileInput = document.querySelector('input[type="file"]');

                const dataTransfer = new DataTransfer();
                dataTransfer.items.add(file);
                fileInput.files = dataTransfer.files;


                $("#upload_form").submit()
            }
        });
        });

    });
  </script>
{% endblock scripts %}